@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", serif;
}
main,
header {
  padding: 0 50px;
  background-color: #f1f1f3;
  overflow: hidden;
}
/* common style  */
.mtb {
  /* margin: 60px 0; */
  margin-top: 60px;
  margin-bottom: 60px !important;
}
.btn {
  background-color: #006a50f4;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  border: none;
  font-weight: bold;
  transition: 0.4s;
}
.btn:hover {
  background-color: #005043;
  /* color:red; */
}
/* nav style  */
header > nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  align-items: center;
}
header > nav .web-title {
  font-size: 30px;
}
header > nav .signup-btn {
  border: 1.5px solid #006a50;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  font-weight: semibold;
  transition: 0.3s linear;
}
header > nav .signup-btn:hover {
  background-color: #006a50;
  color: white;
}
/* hero style  */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(198, 228, 214);
  padding: 80px;
  border-radius: 10px;
  gap: 50px;
  margin: 50px 0;
}
.box {
  width: 50%;
}
.box > img {
  width: 100%;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero-text {
  color: rgba(14, 14, 14, 0.5);
  font-weight: 500;
  font-size: 12px;
}
.hero-title,
.your-opinion-section-title {
  font-size: 35px;
  font-weight: 700;
}
.hero-btn {
  width: 300px;
}
/* Pillars of "Bangladesh 2.0" style  */
.pillars-section-title,
.recent-news-title,
.donate-title,
.subscribe-title {
  color: rgb(14, 14, 14);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.pillars-section-boxs {
  display: flex;
  gap: 30px;
}
.pillars-section-box {
  width: 25%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.pillars-section-box > img {
  width: 70px;
}
.pillars-section-box > h3,
.vision-section-box > h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}
.pillars-section-box > p,
.vision-section-text,
.vision-section-box > p,
.recent-news-subtitle,
.donate-text,
.subscribe-text {
  font-size: 18px;
  color: rgba(14, 14, 14, 0.5);
  margin: 10px 0;
}
/* The Vision of Future style */
.vision-section-title {
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0;
}
.vision-boxs {
  display: flex;
  gap: 30px;
}
.vision-section-box {
  width: 33%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.bg1 {
  background-color: rgba(84, 144, 245, 0.2);
}
.bg2 {
  background-color: rgb(198, 228, 214);
}
.bg3 {
  background-color: rgb(247, 235, 207);
}
.bbg1 {
  background-color: #5490f5;
}
.bbg2 {
  background-color: #09a15c;
}
.bbg3 {
  background-color: #ffc239;
}
/* Dr. Muhammad Yunus style */
.dr-yunus-section {
  background-color: white;
  padding: 50px 25px;
  border-radius: 8px;
  background-image: url("./../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 25px 35px;
}
.dr-yunus-section > p {
  font-size: 18px;
  color: rgba(14, 14, 14, 0.5);
  margin: 10px 0;
}
.dr-yunus-section > h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}
.opinion-box {
  background-color: white;
  padding: 30px;
  border-radius: 13px;
  margin-top: 20px;
}
.opinion-box table {
  width: 100%;
}
.opinion-box td,
.opinion-box th,
table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
.tbtn {
  background-color: #c6e4d6;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  color: black;
  border: 1px solid #000000;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tbtn svg {
  width: 20px;
}
.tbtn:hover {
  background-color: #006a50f4;
  color: white;
}
.theading {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  /* background-color: #c6e4d6; */
}
.opinion-box > table tr th {
  background-color: #c6e4d6;
}
/* Recent News style  */
.Recent-News-box {
  display: flex;
  gap: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  margin: 20px 0;
  transition: 0.3s linear;
}
.Recent-News-box:hover {
  background-color: #c6e4d6;
}
.ibox {
  /* width: 400px; */
}
.ibox > img {
  width: 350px;
  border-radius: 10px;
}
.dbox > h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}
.dbox > p {
  font-size: 18px;
  color: rgba(14, 14, 14, 0.5);
  margin: 10px 0;
}
.dbox > img {
  margin: 10px 0;
}
.reverse-box {
  flex-direction: row-reverse;
}
/* Donate Today style  */
.donate-container {
  text-align: center;
}
.donate-boxs {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 20px 0;
}
.donate-box {
  background-color: white;
  padding: 50px 25px;
  border-radius: 8px;
  border: 1px solid #7e8281;
  width: 25%;
  transition: 0.3s;
}
.donate-box > h1 {
  font-size: 35px;
  font-weight: 700;
}
.donate-box:hover {
  background-color: #c6e4d6;
}
.donate-container input[type="text"] {
  width: 100%;
  height: 35px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 10px 0;
  outline: none;
  font-size: 16px;
  margin: 10px 0;
  margin-bottom: 20px;
}
.donate-container input[type="text"]::placeholder {
  text-align: center;
}
/* Subscribe Newsletter style */
.subscribe-section {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  background-color: #c6e4d6;
  padding: 70px 180px;
  border-radius: 8px;
}
.subscribe-section > form {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin: 20px 0;
  align-items: center;
  width: 100%;
}
.subscribe-section > form > input {
  width: 90%;
  height: 35px;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
  font-size: 16px;
}
.subscribe-section > form > input::placeholder {
  padding-left: 20px;
}
.subscribe-section > form > button {
  width: 40%;
  height: 55px;
  border-radius: 0 8px 8px 0;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 10px 0;
}
/* footer style */
footer {
  background-color: #fff;
  color: black;
  padding: 50px 0;
  text-align: center;
  margin: 0 auto;
  width: 70%;
}
footer h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.ficon {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
